.fulsivern__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-footer);
}

.fulsivern__footer-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.fulsivern__footer-heading h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -0.04em;
}

.fulsivern__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1rem;
    border: 1px solid #ffffff;

    margin-bottom: 10rem;
    cursor: pointer;
}

.fulsivern__footer-btn p {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 21px;
    color: white;
    word-spacing: 2px;
}

.fulsivern__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
    text-align: left;
}

.fulsivern__footer-links div {
    width: 250px;
    margin: 1rem;
}

.fulsivern__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.fulsivern__footer-links_logo img {
    width: 118px;

    margin-bottom: 1rem;
}

.fulsivern__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

.fulsivern__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.fulsivern__footer-links_div h4 {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;

    margin-bottom: 1rem;
}

.fulsivern__footer-links_div p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.fulsivern__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.fulsivern__footer-copyright p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

@media screen and (max-width: 1024px) {
    .fulsivern__footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 768px) {
    .fulsivern__footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .fulsivern__footer-links div {
        margin: 1rem 0;
    }

    .fulsivern__footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 600px) {
    .fulsivern__footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }
}